<!-- *************************************
* Build The Content Heading
* ************************************ -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- *************************************
* Show A Message Block
* ************************************ -->
<%# messages() %>

<!-- *************************************
* Build The Inventory Items Display
* ************************************ -->
<%- grid %>